<!DOCTYPE html>
<html lang="en">
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyReview</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<nav>
    <div class="container nav-wrapper">
        <a href="/" class="brand-logo">Vijay Movie Reviews</a>
        <ul id="nav-mobile" class="right">
            <li><a href="/">Home</a></li>
            <li><a href="/">Previous</a></li>
            <li><a href="{% url 'nextpage' %}">Next</a></li>
            {% block content %}
            {% endblock %}
        </ul>
    </div>
</nav>

<div class="row">
        {% for review in final_reviews %}
            <div class="col s4">
                <div class="card">
                    <div class="card-image">
                        <a href="{{ review.4 }}"><img src="{{ review.3 }}" alt=""></a>
                    </div>
                    <div class="movie-ttle">
                        <a href="{{ review.4 }}"><p>{{ review.0 }}</p></a>
                    </div>
                    <div class="movie-release-date">
                        <p>{{ review.2 }}</p>
                        <a href="{{ review.4 }}">Rating {{ review.1 }}</a>
                         <a href="{{ review.4 }}"><img src="{{ review.6 }}" alt=""></a>
                        <p>{{ review.5 }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>